<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke">

	<test thread-count="1" name="in_progress">

		<parameter name="browser" value="chrome"/>
		<parameter name="testType" value="Smoke Test"/>
		<parameter name="environment" value="Windows"/>
		<parameter name="url" value="localhost"></parameter>
		<packages>
			<package name="smokeCase"></package>
		</packages>
		<classes>
<!--			<class name="smokeCase.TestCase_25785"/>-->
<!--			<class name="smokeCase.TestCase_24678"/>-->
<!--			<class name="smokeCase.TestCase_25787"/>-->
<!--			<class name="smokeCase.TestCase_24527"/>-->
			<class name="smokeCase.TestCase_24675"/>
<!--			<class name="smokeCase.TestCase_26064"/>-->
<!--			<class name="smokeCase.TestCase_24358"/>-->
<!--			<class name="smokeCase.TestCase_24523"/>-->
<!--			<class name="smokeCase.TestCase_24662"/>-->
<!--			<class name="smokeCase.TestCase_24679"/>-->
 		</classes>
	</test> <!-- Testng -->
</suite> <!-- Suite -->